@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
 font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
 background-color: #fcfcfc;
 
}

.home_bg {
    background: url("../../assets/images/background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#header-nav{
  position: static;
  top: 0;
  display: block;
  width: 100%;
  background: black;
  background-color: rgba(0, 0, 0, 0.1);
  


}

#header-nav.hide-nav-bar{
   -webkit-transform: translate(0, -100%);
   -moz-transform: translate(0, -100%);
   -ms-transform: translate(0, -100%);
   transform: translate(0, -100%);
   -webkit-backface-visibility: hidden;
}
  

a.menu-link {
        float: right;
            display: block;
            padding: 1em;
        }
        
        
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
      float: right;
        padding: 0.7em 0;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;

font-size: 0.9em;
        }

a.menu-link {
               display: none;
        }
            
            
nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
        float: right;
            }
            
            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                
        border: 0;
            }
        


.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;

}

.jumbotron .lead {
    color: black;
    font-weight: bold;
    margin: 25px 0;
}

.lead {
    color: #000;
    font-weight: bolder
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}



.block-divider--short {
    width: 35px;
}



.quotes .page-header {
    margin-bottom: 25px;
}



.quotes  {
    margin-bottom: 15px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
} 
.quotes .page-header {
    margin-bottom: 25px;
}

#site-about {
    padding: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    font-family: 'Averta-Bold';
    font-weight: 700;
}

#site-schedule {
    padding: 70px 50px 50px;
    line-height: 20px;
    margin-top: 10px;
    font-family: 'Averta-Bold';
    font-weight: 700;
}


/*-------------------------------footer------*/


.links {
    padding-bottom: 18px;
}

.links li a i {
    width: 33px;
    height: 33px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background: #a9a9a9;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out
}

.links li a i:hover {
    background: blue;
}

#footer-text {
    padding: 30px;
}









