@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.container{
align-content: center;
}


.block {
    background-color: #000;
}

.uppercase {
color: #ffff;
text-decoration: underline;

}

.general {
  font-family: "exo ", sans-serif;
  font-weight: 300;
  color: #fafafa;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}



.text-center {
    text-align: center;
    color: #000;
}

