@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.container{
align-content: center;

}

/* ----------------------------------------back-ground color */
.footer {
    background-color: #000;
    
}

.block-links li a i:hover {
    background: #e84610;
}

/* ----------------------------------------colors */
.nav-link {
color: #000;
font-style: bold;
text-decoration: underline;
}


h1 h2  {
  font-family: "exo ", sans-serif;
  font-weight: 300;
  color: #000;
}

.p {
    font-family: "exo", sans-serif
}


.text-center {
    text-align: center;
    color: #000;
}

{
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #00ffff;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #000;
  color: white;
}

/* ----------------------------------------Media Queries */

@media(min-width: 650px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (max-width: 650px) {
  .about-section {
    width: 100%;
    display: block;
  }
}

